body, html{
    height: 100%;
}

body {
    color: rgb(0, 204, 255);
    background-color:black;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
}

h4 {
    color: white;
}
h6 {
    color:white;
}
h2 {
    color: rgb(255, 255, 0);
}

.parallax{
    height: 100%;

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    background-image: url("wondows.jpg");
}

#parallax1{
    background-image: url("DisneyWorld.jpg");
}

#parallax2{
    background-Image: url("OrlandoImage1.jpg");
}

#parallax3{
    background-Image: url("OrlandoImage2.jpg");
}

#parallax4{
    background-image: url("BBQ.jpg")
}

iframe[seamless]{
    border: none;
    width: 100%;
    height: 500px;
}